<%- include('../partials/header_admin') %>

    <h2 class="text-2xl font-semibold text-[#818cf8] mb-4">Panel de Administración</h2>
    <p class="text-slate-400">Bienvenido al sistema interno de control de asistencia.</p>

    <%- include('../partials/footer') %>